<h3>T5 de PSO - vteixeira</h3>
<h2>TO DO list</h2>

<ul>
    {% for todo_item in all_items %}
        <li> {{ todo_item.content }} 
            <form action="/deleteTodo/{{todo_item.id}}/"
                  style="display:inline"
                  method="POST">{% csrf_token %}
                <input type="submit" value="Remover"/>
            </form>
        </li>
    {% endfor %}
</ul>

<form action="/addTodo/" method="POST">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Adicionar"/>
</form>